/*html, body{
	height: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}
p{
	line-height: 24px;
	letter-spacing: 0.12px;
}
.white{
	color: #ffffff;
}

@media (max-width: 767px){
	
}*/
