.title {
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
}
.sub-title {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}
.line {
	height: 10px;
	width: 35px;
}
.text {
	color: #fff;
	font-family: 'Merriweather';
	line-height: normal;
	padding-left: 58px;
	> *:last-child {
		margin-bottom: 0;
	}
}
.text-color {
	color: #646363;
}
.text-with-icon {
	position: relative;
	&:before {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.wrap-dot {
	padding: 24px 0;
}
.dot {
	margin: auto;
	height: 12px;
	width: 12px;
	border-radius: 100%;
}
.gray-line{
	min-height: 49px;
	background-color: #dadada;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	color: #575756;
	font-size: 16px;
	padding-top: 8px;
	margin-bottom: 25px;
	letter-spacing: 2px;
	.icon-marker{
		font-size: 28px;
		color: #3a4850;
		display: inline-block;
		vertical-align: middle;
		margin: 0 9px 0 12px;
	}
}